form {
	margin: auto;
	padding-top:50px;
}

label {
	
	font-size: 16px; 
	display: block; 
	text-align: right;
	
}

input {
	
	width: 250px;
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 16px;
}

.roles-input{
	
	
	width: 1px;
	border: 1px solid #666; 
	border-radius: 5px; 
	
	
}

.roles-label{
	
	font-size: 16px; 
	
	text-align: left;
}



textarea {
	width: 250px; 
	height: 200px;
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 16px;
}


.save {
	
	color: white;
	width: 130px; 
	padding: 5px 10px; 
	margin-top: 0px;
	background: #09c332;
}

.save:hover{
	color: #09c332;
	background: white;
}

table {   
	
    margin: auto;
	border-style:none;
	width:50%;
	
}
tbody{
	display: block;
    margin: auto;
    width: 50%;
    text-align: center;
}

tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #FFFFFF}

tr {
	border-style:none;
	text-align:left;	
}
	
.error {
	color: red
}

.login-err{
	color: red;
	text-align: center;
}

 
