<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Brisanje korisnika</title>
<link type="text/css" rel="stylesheet" href="/css/style.css" />

</head>
<body>
	<div id="wrapper">
		<div id="header">
			<h2>Brisanje korisnika</h2>
		</div>
	</div>
	<form class="form-confirm"  method="post">
		<div class="form-confirm-container">
		<div class="conf-question">Da li ste sigurni da želite obrisati korisnika:</div>
		<button class="btn-confirm" name="action" type="submit" value="yes">Da</button>
		<button class="btn-confirm" name="action" type="submit" value="no">Ne</button>
		</div>
	</form>
	<div style=""></div>
</body>
</html>