<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Vicevi</title>
<link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<h2>Vicevi</h2>		
			<ul class="navbar">
				<li  class="nav-item !isAuth"><a class="nav-link" id="nav-login">Prijava</a></li>
				<li class="nav-item"><a class="nav-link">Natrag na Viceve</a></li>
			</ul>
		</div>
	</div>
	<div class="form-confirm">
		<div class="form-confirm-container">		
			<div class="conf-question">Registracija uspješna! Molimo prijavite se da bi nastavili
			</div>				
			<div style=""></div>
		</div>
	</div>
</body>
</html>